<div class="add-post-button">
    <button class="add-post-btn"></button>
</div>
<div class="create-post-form">
    <textarea placeholder="Digite seu post"></textarea>
    <input type="file" multiple>
    <button>Enviar</button>
</div>
<h2>Posts</h2>
<div class="post-list">
    <div class="post">
        <div class="post-profile-picture">
            <img src="~/imagens/profile_picture1.jpg" alt="Post Profile Picture">
        </div>
        <div class="post-username">johndoe</div>
        <div class="post-content">
            <p>flowers of paper</p>
            <img src="~/imagens/post_image1.jpg" alt="Post Image" width="500">
        </div>
        <div class="post-icons">
            <span class="like">&#x2764;</span>
            <span class="comment">&#x1F4AC;</span>
            <span class="share">&#x21A9;</span>
        </div>
        <div class="comment-section">
            <ul class="comment-list">
            </ul>
        </div>
    </div>
    <div class="post">
        <div class="post-profile-picture">
            <img src="~/imagens/profile_picture2.jpg" alt="Post Profile Picture">
        </div>
        <div class="post-username">johndoe</div>
        <div class="post-content">
            <p>Exploring the waves</p>
            <img src="~/imagens/post_image2.jpg" alt="Post Image" width="500">
        </div>
        <div class="post-icons">
            <span class="like">&#x2764;</span>
            <span class="comment">&#x1F4AC;</span>
            <span class="share">&#x21A9;</span>
        </div>
        <div class="comment-section">
            <ul class="comment-list">
            </ul>
        </div>
    </div>
</div>
